{
  "ConnectionDefinition": [
    {
      "Connection type": "AzureConnection",
      "API key": "",
      "Deployment": "",
      "URL": ""
    },
    {
      "Connection type": "Developer API token", // OpenAI
      "API key": ""
    }
  ],
  "TestFolder": "C:\\Users\\..."
}